.component {
  width: 1000px;
  height: 800px;

  background-color: white;

  display: flex;
}

.left {
  flex-grow: 1;
  border-right: solid 1px rgb(207, 207, 207);

  padding: 8px;
}

.right {
  flex-shrink: 0;
  width: 200px;

  padding: 8px;
}

/* From here, delete later */

.description {
  height: 60px;
}
