.component {
  min-height: 100svh;
  max-width: 600px;

  margin: 0 auto;
  padding: 0px 10px;

  background-color: rgb(238, 238, 238);
}

.component > div {
  background-color: white;
  margin-bottom: 10px;
}
