.component {
  font-family: inherit;
  font-size: 14px;

  padding: 1px 4px;
  margin: 0px;

  height: 200px;

  overflow-y: auto;

  /* In line with TodoCardDescriptionTextArea to avoid unexpected size shift */
  box-sizing: border-box;
}
