.component {
  width: 1000px;

  background-color: white;

  display: flex;
}

.left {
  /* expand the left panel as wide as it is allowed */
  flex-grow: 1;
  border-right: solid 1px rgb(207, 207, 207);

  padding: 16px 8px;
}

.right {
  /* keep the width to 200px and prevent shrink */
  flex-shrink: 0;
  width: 200px;

  padding: 16px 8px;
}

/* From here, delete later */

.description {
  height: 60px;
}
